/* 
COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
*/

/* ~~~ GLOBAL RULES ~~~ */

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("assets/burger-friends.jpg");
    background-size: cover;
    margin: 0;
}

nav {
    background-color: #0fb9b1;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#site-name {
    margin: 25px;
}

.nav-button {
    margin: 25px;
}

button {
    height: 2.5em;
    border: 0;
    border-radius: 0.25em;
    margin: 1em 0em;
    padding: 0.5em;
    text-transform: uppercase;
    transition: background-color 0.5s;
}

button:hover {
    background-color: white !important;
    cursor: pointer;
}

.hidden {
    display: none !important;
} 

/* ~~~ HOME PAGE ~~~ */

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.homepage-sections {
    background-color: rgba(225, 225, 225, .9);
    height: 400px;
    width: 30%;
    padding: 40px;
    margin: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#form-required:after {
    content:"*";
    color:ee5253;
    padding: 0.15em;
}

.form-rows {
    padding: 1em 0 1em 0;
}

#cookpot {
    height: auto;
    width: 150px;
    max-width: 90%;
    align-self: center;
}

#lets-cook {
    background-color: #0fb9b1;
    width: 50%;
    align-self: flex-start;
}

#clear { 
    color: white;
    background-color: #95a5a6;
    position: absolute;
    margin: 0;
    right: 5%;
    bottom: 5%;
} 

#clear:hover {
    color: black;
}

#recipe-output {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

h4 {
    font-style: italic;
    margin: 0;
}

.largest {
    font-size: xxx-large;
    margin: 0;
}

/* ~~~ ALL RECIPES PAGE ~~~ */

.view-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 95%;

}

#list-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-lists {
    background-color: rgba(225, 225, 225, .9);
    min-width: 15%;
    padding: 40px;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.list-headers {
    text-align: center;
    text-decoration: underline;
}

li:hover {
    cursor: pointer;
}

.selected-meal {
    text-shadow: 1px 1px 2px #0fb9b1;
}

#meal-adjustments-buttons {
    display: flex;
    justify-content: center;
}

.adjust {
    margin: 0.25em 1em;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    position: absolute;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    top: 20%;
    background-color: white;
    border-radius: 1em;
    z-index: 2;
  }

#add-new-meal,
#edit-meal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block-end: 0em;
}

.form-rows-modal {
    padding: 0.5em 0;
}

#submit-add,
#submit-edit {
    margin: 0.5em 0;
}

#submit-add:hover,
#submit-edit:hover {
    margin: 0.5em 0;
    background-color: #0fb9b1 !important;
}

#add-to-type,
#new-meal,
#edit-meal,
#change-meal {
    margin: 0 1em;
}

.close {
    background-color: white;
    padding: 0.7rem 0.7rem;
    position: absolute;
    margin: 0;
    right: 5%;
    top: 5%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }